{% set _innodb_buffer_pool_size = 512 if ansible_memtotal_mb >= 2048 else ((ansible_memtotal_mb * 0.4)|round|int) %}
[mysqld]

general_log            = 0
key_buffer             = 512M
max_allowed_packet     = 64M
table_open_cache       = 2000
table_definition_cache = 2000
query_cache_limit      = 10M
query_cache_size       = 128M
slow_query_log         = 1
slow_query_log_file    = /var/log/mysql/mysql-slow.log
long_query_time        = 1
wait_timeout           = 120

innodb_buffer_pool_size   = {{ _innodb_buffer_pool_size }}M
innodb_log_file_size      = 1G
innodb_log_buffer_size    = 4M
innodb_thread_concurrency = {{ ansible_processor_cores }}
